body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(245,245,245)
}

a {
  color: #00B7FF;
}

footer {
  position: absolute;
  bottom: 50px
}

input {
  margin: 10px 0 0 0;
}

li {
  margin: 10px
}

nav {
  margin: 0 0 15px 0;
}

form {
  display: inline; 
}

.btn-outline-danger {
  margin: 0 0 0 10px;
}

a, p {
  font-size: 18px;
}