body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  position: absolute;
  bottom: 50px
}

input {
  margin: 10px 0 0 0;
}

.delete-form button {
  color: red;
}

form {
  display: inline
}

li {
  margin: 10px
}